@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="true" title="this.value"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="true" title="this.value"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="courseName" name="课程名称"/>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="activityType" name="教学类型" title="this.value">
                                <option value="">全部</option>
                                <!--<option value="jz">讲座</option>-->
                                <!--<option value="xjk">小讲课</option>-->
                                <!--<option value="jnk">技能课（实验/实训）</option>-->
                            </#SelectCon>
                        </div>
                        </div>
                        <div class="hidden-xs" id="TeachingPlanTableToolbar" role="group">
                            <#button name="查询" icon="fa-search" clickFun="TeachingPlan.search()"/>
                            <#button name="导入" icon="fa-plus" clickFun="TeachingPlan.openImportTeachingPlan()" space="true"/>
                            <#button name="新增" icon="fa-plus" clickFun="TeachingPlan.openAddTeachingPlan()" space="true"/>
                            <#button name="编辑" icon="fa-edit" clickFun="TeachingPlan.openTeachingPlanDetail()" space="true"/>
                            <#button name="删除" icon="fa-remove" clickFun="TeachingPlan.delete()" space="true"/>
                        </div>
                        <#table id="TeachingPlanTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/teachingPlan/lljxjh.js"></script>
<script>
    laydate.render({
        elem: '#beginTime',
        format: 'yyyy-MM-dd HH:mm',
        type: 'datetime'
    });
    laydate.render({
        elem: '#endTime',
        format: 'yyyy-MM-dd HH:mm',
        type: 'datetime'
    });
    $(function () {
        getActivityTypeList('theory_type');
    });
    function getActivityTypeList(dictType){
        var qryUrl = Feng.ctxPath + '/admin/dictLoad?dictType='+dictType;
        $.ajax({
            url: qryUrl,
            async: true,
            dataType: "json",
            success: function (data) {
                for(var i=0;i<data.length;i++){
                    var value = data[i].code;
                    var lable = data[i].name;
                    $('#activityType').append("<option value="+value+">"+lable+"</option>");
                }
            },
            error: function (data) {
                Feng.error("下拉框数据加载失败!");
            }
        });
    }
</script>
@}
